@font-face {
    font-family: 'keterina';
    src: url("./fonts/keterina.woff2") format('woff2'), 
         url("./fonts/keterina.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Miama Nueva";
    src: url("./fonts/MiamaNueva.woff2")format("woff2"),
    url("./fonts/MiamaNueva.woff")format("woff"),
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("./fonts/Roboto-Regular.woff") format('woff'),
         url("./fonts/Roboto-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: auto;
    max-width: 360px;
    min-width: 360px;
    font-family:'Roboto-Regular';
    /* background-color: #FFFFF0; */
    /* background-color: #fcf8f1 ; */
    /* background-color: #faf7f3  ; */
    background-color: #fcfbfa  ;
    color: black;
}

h4,p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

h4 {
    /* color: #b65d5d; */
    color: #8B2A2A;
    font-size: 18px;
    text-transform: Capitalize;
}

h1,h3 {
    font-family:'Miama Nueva', sans-serif;
    margin: 0;
    text-align: center;
    /* color: #b65d5d; */
    color: #8B2A2A;
    font-size: 30px;
    line-height: 50px;
    text-transform: Capitalize;
    margin-bottom: 10px;
}

h1 {
    margin-top: 30px;
    font-size: 40px;
    text-transform: Capitalize;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title-date {
    color: black;
    font-size: 20px;
    margin-top: 20px;
}

.title-img  {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    filter: grayscale(100%)
}

.investigate-wrapper {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;

}

.info-wrapper {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.info-date-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.date-text {
    text-align: center;
}

.info-place-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap ;
    gap: 10px;
}

.second {
    margin-top: 20px;
}

.btn-link{
    align-self: center;
}

.btn-new {
    margin-top: 10px;
    width: 320px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s ease;
    background: #8B2A2A;
    cursor: pointer;
}

.btn-new:hover{
    background-color: #D19A9A;
}

.programm-wrapper {
    margin-top: 60px;
}

.proggram-events-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
}

.proggram-event-left-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 150px;
}

.proggram-event-right-wrapper{
    flex: 1;
    margin-top: 185px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 150px;
}

.event-text-title {
    color: black;
    text-align: left;
    font-weight: 600;
    text-transform: Capitalize;
    margin: 0;
}

.time {
    color: #8B2A2A;
}

.event-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left{
    align-items: flex-end;
}

.right{
    align-items: flex-start;
}

.right .event-text-descript {
    text-align: left;
}

.event-text-descript{
    text-align: right;
}

.colors-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;

}

.colors-blocks-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
}

.color-block{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.red {
    background-color: #8B2A2A;
}

.brown {
    background-color: #A65E5E;
}

.black {
    background-color: #D19A9A ;
}

.bezhevi {
    background-color: #5B3A29;
}

.pink {
    background-color:  #E6CFC4;
}

.request-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-wrapper {
    margin: 100px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .request-item-line,.event-line-wrapper {
    border-top: 1px solid red;
    width: 100%;

} */

.proggram-event-center-wrapper{
    width: 0px;
    border: 1px solid #8B2A2A;
}


.times-counter-wrapper{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


.time-counter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
}

.any-time-wrapper {
    margin-top: 60px;
}

.digits-time {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #8B2A2A;;
    margin: 0;
    line-height: 40px;
}

.time-counter-text {
    text-transform: Capitalize;
}


.request-image {
    width: 70px;
    height: 50px;
}

.colors-text {
    margin-top: 20px;
}